@import "../../scss/sizes.scss";

html,
body,
#content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Evitar barras de desplazamiento */
}

#map {
  height: 100vh; /* 100% de la altura de la pantalla */
  width: 100vw; /* 100% del ancho de la pantalla */
  position: relative;
  top: 0;
  left: 0;
}

@include tablet {
  #map.nonactive {
    height: 100vh;
    width: 100vw; /* Mantener el mapa en pantalla completa */
  }
}

@include desktop {
  #map.nonactive {
    height: 100vh;
    width: 100vw; /* Mantener el mapa en pantalla completa */
  }
}

.leaflet-left .leaflet-control-scale {
  margin-left: 10px;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar el modal */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 50vh; /* Limitar la altura máxima */
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; /* Agregar desplazamiento si el contenido es muy largo */
}

.modal h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.modal button.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.modal button.modal-close-button:hover {
  background-color: #0056b3;
}
